{%extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="card">

          <div class="card-body">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;
            <strong>

                
                {{record.first_name|upper}}
                {{record.last_name}}
    
            </strong>
    
            <hr> 
            <p><strong>ID</strong> {{record.id}} </p>
            <p><strong>Email:</strong> {{record.email}}</p>
            <p><strong> Phone Number</strong> {{record.phone}}</p>
            <p><strong>Address</strong> {{record.address}}</p>
            <p><strong>City</strong> {{record.city}}</p>
            <p><strong>Province</strong> {{record.province}}</p>
            <p><strong>Country</strong> {{record.country}}</p>
 
            <p><strong>Creation Date</strong> {{record.creation_date}}</p>



        </div>

        <br>

        <a href="{%url 'dashboard' %}" class="btn btn-secondary"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Return </a>
        &nbsp;

        <a href="{%url 'update-record' record.id %}" class="btn btn-info">Update Record <i class="fa fa-pencil" aria-hidden="true"></i></a>
        &nbsp;

        <a href="{%url 'delete-record' record.id %}" class="btn btn-danger">Delete <i class="fa fa-trash" aria-hidden="true"></i></a>










        
    </div>










{%endblock %}
